<div class="topBar">

    <div class="logoContainer">
        <a href="/">
            <img src="/assets/images/logo.png" alt="Logo">
        </a>
    </div>

    <ul class="navLinks">
        <li><a href="/">Home</a></li>
        <li><a href="/shows">TV Shows</a></li>
        <li><a href="/movies">Movies</a></li>
    </ul>
    
    <div class="rightItems">
        <a href="/ajax/search">
            <i class="fas fa-search"></i>
        </a>

        <a href="/profile">
            <i class="fas fa-user"></i>
        </a>

        <a href="/logout">
            <i class="fas fa-sign-out-alt"></i>
        </a>
    </div>

</div>